<!-- <h1 align="center">Employee Data</h1>

<table border="2" align="center">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Country</th>
            <th>DateOfJoin</th>
            <th>EmailId</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.country}}</td>
            <td>{{emp.doj}}</td>
            <td>{{emp.emailId}}</td>
        </tr>
    </tbody>
</table> -->
<!-- Built in pipe -->
<!-- <h1 align="center">Employee Data</h1>

<table border="2" align="center">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Country</th>
            <th>DateOfJoin</th>
            <th>EmailId</th>
        </tr>
    </thead>
    <tbody>
<tr *ngFor="let emp of employees">
    <td>{{emp.empId}}</td>
    <td>{{emp.empName | uppercase }}</td>
    <td>{{emp.salary  | currency:'INR' }}</td>
    <td>{{emp.gender  | lowercase }}</td>
    <td>{{emp.country}}</td>
    <td>{{emp.doj     | date:'dd-MMM-yyyy' }}</td>
    <td>{{emp.emailId}}</td>
</tr>
</tbody>
</table> -->
<!-- Custom pipes -->
<!-- <h1 align="center">Employee Data</h1>
<table border="2" align="center">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Country</th>
            <th>DateOfJoin</th>
            <th>EmailId</th>
            <th>Experience</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName | gender: emp.gender | uppercase }}</td>
            <td>{{emp.salary  | currency:'INR' }}</td>
            <td>{{emp.gender  | lowercase }}</td>
            <td>{{emp.country}}</td>
            <td>{{emp.doj     | date:'dd-MMM-yyyy' }}</td>
            <td>{{emp.emailId}}</td>
            <td>{{emp.doj     | exp}}</td>
        </tr>
    </tbody>
</table> -->
<h1 align="center">Employee Data</h1><br/>

<div class="container">
<table class="table table-hover table-striped table-sm table-bordered">
    <thead>
        <tr class="table-info text-center">
            <th>EmpId</th>
            <th>EmpName</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Country</th>
            <th>DateOfJoin</th>
            <th>EmailId</th>
            <th>Experience</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emp of employees" class="text-center">
            <td>{{emp.empId}}</td>
            <td align="left">{{emp.empName | gender: emp.gender | uppercase }}</td>
            <td>{{emp.salary  | currency:'INR' }}</td>
            <td align="left">{{emp.gender  | lowercase }}</td>
            <td>{{emp.country}}</td>
            <td align="left">{{emp.doj     | date:'dd-MMM-yyyy' }}</td>
            <td align="left">{{emp.emailId}}</td>
            <td>{{emp.doj     | exp}}</td>
        </tr>
    </tbody>
</table>
</div>