<h1>Person Details</h1>
<h2>Id:{{id}}</h2>
<h2>Name:{{name}}</h2>
<h2>Age:{{age}}</h2>
<h2>Address</h2>
{{address.streetno}}<br/>
{{address.city}}<br/>
{{address.state}}<br/>
<h2>Hobbies</h2>
<ul><li *ngFor="let hobby of hobbies">{{hobby}}</li></ul>