<h1 align="center">Products</h1> <br/>


<div class="container">
    <div class="row">

        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:250px">
                <img class="card-img-top" src={{product.imgsrc}} alt="Card image"
                    style="width:100%; height:100%; margin-top: 5%;">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <p><b>Price:</b> ₹{{product.price}}/-</p>
                    <p align="right"><button (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
