Enter id : <input type="text" name="id" [(ngModel)]="person.id" /> <br/>
Enter Name : <input type="text" name="name" [(ngModel)]="person.name" /> <br/>
Enter Age  : <input type="text" name="age"  [(ngModel)]="person.age" /> <br/>
<button (click)="ShowDetails()">ShowDetails</button>
<br/>
<h1>Person Details</h1>
<h2>Id:{{person.id}}</h2>
<h2>Name:{{person.name}}</h2>
<h2>Age:{{person.age}}</h2>
<h2>Address</h2>
{{person.address.streetno}}<br/>
{{person.address.city}}<br/>
{{person.address.state}}<br/>
<h2>Hobbies</h2>
<ul><li *ngFor="let hobby of person.hobbies">{{hobby}}</li></ul>
