<h1>Person Details</h1>
<h3>Id:{{id}}</h3>
<h3>Name:{{name}}</h3>
<h3>Age:{{age}}</h3><br/>
<h2><u>Address</u></h2>
Streetno:{{address.streetno}}
City:{{address.city}}
State:{{address.state}}</br>
<h2>Hobbies</h2>
<ol>
    <li *ngFor="let hobby of hobbies">
        {{ hobby }}
    </li>
</ol>

